@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Lemon&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --border: 228, 12%, 84%; /* Light gray for border */
  --input: 0, 0%, 93%; /* Light gray for inputs */
  --ring: 240, 5%, 91%;
  --background: 0, 0%, 100%; /* White background */
  --foreground: 240, 10%, 16%; /* Dark foreground */

  --primary: 240, 100%, 62%;
  --primary-foreground: 0, 0%, 100%;
  --secondary: 240, 60%, 50%;
  --secondary-foreground: 240, 100%, 98%;

  --muted: 240, 10%, 96%;
  --muted-foreground: 240, 8%, 44%;
  --destructive: 0, 70%, 50%;
  --destructive-foreground: 0, 100%, 98%;

  --accent: 240, 85%, 62%;
  --accent-foreground: 0, 0%, 100%;

  --popover: 240, 5%, 96%;
  --popover-foreground: 240, 10%, 20%;

  --card: 240, 5%, 96%;
  --card-foreground: 240, 10%, 20%;

  --radius: 0.375rem; /* Tailwind's default border-radius */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", serif;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 40px;
  height: 100%;
}

.landing_container {
  width: 100%; /* Allow it to take full width */
  max-width: 1250px; /* Restrict the maximum width */
  flex-grow: 0; /* Prevent flexbox stretching */
  flex-shrink: 0; /* Prevent shrinking */
  box-sizing: border-box; /* Ensure padding/border doesn't affect width */
  margin: 0 auto; /* Center the container horizontally */
}

#landing_quote {
  word-spacing: 18px;
}

#landing_quote span {
  font-family: "Lemon", serif;
}
