@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Lemon&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", serif;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}

.landing_container {
  width: 100%; /* Allow it to take full width */
  max-width: 1250px; /* Restrict the maximum width */
  flex-grow: 0; /* Prevent flexbox stretching */
  flex-shrink: 0; /* Prevent shrinking */
  box-sizing: border-box; /* Ensure padding/border doesn't affect width */
  margin: 0 auto; /* Center the container horizontally */
}

#landing_quote {
  word-spacing: 18px;
}

#landing_quote span {
  font-family: "Lemon", serif;
}
